MONGO_URI=mongodb+srv://foodpoint_db:foodpointby1515@foodpint.otnysi6.mongodb.net/foodpoint?appName=foodpint
OWNER_PASSWORD=1515
PORT=3000

# Brevo SMTP Configuration
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_user
BREVO_SMTP_PASS=your_brevo_pass
BREVO_SMTP_API=your_brevo_api_key